.property-list-page {
  &__list {
    overflow-y: auto;
    max-height: 100% !important;
  }
  &__list::-webkit-scrollbar {
    display: none;
  }
  &__card-deck {
    margin-right: 15px;
  }
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    &-title {
      font-size: 22px;
      font-weight: 550;
    }
  }

  &__map-property {
    margin-top: 30px;
    margin-left: -95px;
    width: 250px;
  }
  &__map-toggle-btn {
    right: 30%;
    flex-direction: row;
    align-items: center;
  }
}
