$customprimary: #157DFF;
$primary: #157DFF;

@import '../node_modules/bootstrap/scss/bootstrap';

body,
html,
#root {
  height: 100%;
}

.btn-primary {
  @include button-variant(
    $customprimary,
    $customprimary,
    #ffffff,
    darken($customprimary, 5%),
    darken($customprimary, 5%),
    #ffffff,
    $customprimary,
    $customprimary,
    #ffffff,
    lighten($customprimary, 5%),
    lighten($customprimary, 5%),
    #ffffff
  );
}

.btn-outline-primary {
  @include button-outline-variant(
    $customprimary,
    #ffffff,
    $customprimary,
    $customprimary,
    #ffffff
  );
}

.card {
  background: #fff;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}
