@import 'react-input-range/lib/css/index.css';
.input-range__slider {
  background-color: #157dff;
  border-color: #157dff;
}

.input-range__track--active {
  background-color: #157dff;
}

.input-range__label {
  display: none;
}

.input-range__slider-container {
  padding: 0 5px;
}

