.user-detail-page {
  &__content {
    height: 100%;
  }
  &__controls {
    margin-bottom: 25px;
    button:not(:last-child) {
      margin-right: 10px;
    }
    display: flex;
    flex-direction: row;
  }
}
