@import '../../assets/styles/variables';

.icon-button {
    font-size: 16px;
    display:flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    border-radius: 24px;
    &__text {
      margin-left: 5px;
      text-decoration: underline;
    }
    background: initial;
    border: initial;

    &:hover {
      background: rgb(247, 247, 247);
      cursor: pointer;
    }

    &--danger {
      &:hover {
        color: $danger;
      }
    }
}